<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Admin Panel</title>
</head>
<body>
<div class="container-fluid">
    <!-- Верхняя панель -->
    <div class="row">
        <div class="col-md-12">
            <nav class="navbar navbar-dark bg-dark">
                <a class="navbar-brand text-white">
                    <span style="font-weight: bold;" th:text="${admInfo.getName()}"></span>
                    <span> with roles: </span>
                    <span th:each="role : ${admInfo.getRoles()}"
                          th:text="${#strings.substringAfter(role.name, 'ROLE_')} + ' '"></span>
                </a>
                <a class="text-secondary text-decoration-none" href="/logout">Logout</a>
            </nav>
        </div>
    </div>

    <!-- Основной контент -->
    <div class="row">
        <!-- Левое меню -->
        <div class="col-xl-2">
            <div class="nav flex-column nav-pills mt-3" role="tablist">
                <a class="nav-link active" id="admin-tab" data-toggle="tab" href="#admin" role="tab"
                   aria-controls="admin">Admin</a>
                <a class="nav-link" id="user-tab" data-toggle="tab" href="#user" role="tab"
                   aria-controls="user">User</a>
            </div>
        </div>

        <!-- Правая часть -->
        <div class="col-xl-10 bg-light">
            <div class="tab-content">
                <!-- Admin панель -->
                <div class="tab-pane fade show active" id="admin" role="tabpanel">
                    <h1 class="mt-3">Admin Panel</h1>
                    <ul class="nav nav-tabs mt-3">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#users-table" role="tab">Users Table</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#new-user" role="tab">New User</a>
                        </li>
                    </ul>
                    <div class="tab-content mt-3">
                        <!-- Таблица пользователей -->
                        <div class="tab-pane fade show active" id="users-table" role="tabpanel">
                            <h5>All Users</h5>
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Login</th>
                                    <th>Role</th>
                                    <th>Edit</th>
                                    <th>Delete</th>
                                </tr>
                                </thead>
                                <tbody id="allUsersTable">
                                </tbody>
                            </table>
                        </div>

                        <!-- Модальное окно для изменения пользователя -->
                        <div id="editModal" class="modal fade">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="editLabel">Edit user</h1>
                                        <button type="button" class="btn-close"
                                                data-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form id="formEditUser">
                                            <div class="mb-3">
                                                <label for="idEdit" class="col-form-label">ID</label>
                                                <input type="text" name="id"
                                                       class="form-control" id="idEdit"
                                                       readonly/>
                                            </div>
                                            <div class="mb-3">
                                                <label for="nameEdit" class="col-form-label">Name</label>
                                                <input type="text" name="name"
                                                       class="form-control" id="nameEdit"/>
                                            </div>
                                            <div class="mb-3">
                                                <label for="LoginEdit" class="col-form-label">Login</label>
                                                <input type="text" name="login"
                                                       class="form-control" id="LoginEdit">
                                            </div>
                                            <div class="mb-3">
                                                <label for="passwordEdit" class="col-form-label">Password</label>
                                                <input type="password" name="password"
                                                       class="form-control" id="passwordEdit"/>
                                            </div>
                                            <div class="form-group">
                                                <label for="rolesEditUser">Role</label>
                                                <select class="custom-select form-control" id="rolesEditUser"
                                                        name="roles"
                                                        multiple>
                                                </select>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal"
                                                        aria-label="Close">Close
                                                </button>
                                                <button type="submit" class="btn btn-primary">Edit</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Модальное окно для удаления пользователя -->
                        <div id="deleteModal" class="modal fade">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="deleteLabel">Delete user</h1>
                                        <button type="button" class="btn-close"
                                                data-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form id="formDeleteUser">
                                            <div class="mb-3">
                                                <label for="idDelete" class="col-form-label">ID</label>
                                                <input type="text" name="id"
                                                       class="form-control" id="idDelete" readonly/>
                                            </div>
                                            <div class="mb-3">
                                                <label for="nameDelete" class="col-form-label">Name</label>
                                                <input type="text" name="name"
                                                       class="form-control" id="nameDelete"
                                                       readonly/>
                                            </div>
                                            <div class="mb-3">
                                                <label for="loginDelete" class="col-form-label">Login</label>
                                                <input type="text" name="login"
                                                       class="form-control" id="loginDelete" readonly>
                                            </div>
                                            <div class="form-group">
                                                <label for="rolesDeleteUser">Roles</label>
                                                <select class="custom-select form-control" id="rolesDeleteUser" name="roles"
                                                        multiple readonly>
                                                </select>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                        data-dismiss="modal">
                                                    Close
                                                </button>
                                                <button type="submit" class="btn btn-danger">Delete</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Добавление нового пользователя -->
                        <div class="tab-pane fade" id="new-user" role="tabpanel">
                            <h5>Add new user</h5>
                            <div class="d-flex justify-content-center align-items-center">
                                <div class="card p-4 w-50">
                                    <form method="POST" id="formNewUser">
                                        <div class="form-group">
                                            <label for="name">Name</label>
                                            <input type="text" class="form-control" id="name" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="login">Login</label>
                                            <input type="text" class="form-control" id="login" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="password">Password</label>
                                            <input type="password" class="form-control" id="password" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="newUserRoles">Role</label>
                                            <select class="custom-select form-control" id="newUserRoles" name="roles"
                                                    multiple>
                                            </select>
                                        </div>
                                        <div class="text-center mt-4">
                                            <button type="submit" class="btn btn-success">Add User</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- User панель -->
                <div class="tab-pane fade" id="user" role="tabpanel">
                    <h1 class="mt-3">User information-page</h1>
                    <h5>About user</h5>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Login</th>
                            <th>Roles</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td th:text="${admInfo.id}"></td>
                            <td th:text="${admInfo.name}"></td>
                            <td th:text="${admInfo.login}"></td>
                            <td>
                                <span th:each="role : ${admInfo.getRoles()}"
                                      th:text="${#strings.substringAfter(role.name, 'ROLE_')} + ' '"></span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="/app.js"></script>
</body>
</html>
