<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Информация о пользователе</title>
</head>
<body>
<h1>Подробная информация о пользователе <span th:text="${user.getName()}"></span></h1>
<h2>ID: <span th:text="${user.getId()}"></span></h2>
<h2>Логин: <span th:text="${user.getLogin()}"></span></h2>
<h2>Пароль: <span th:text="${user.getPassword()}"></span></h2>
<h2>Роли:</h2>
<ul>
  <li th:each="role : ${user.roles}" th:text="${role.name}"></li>
</ul>
<a href="/logout" class="btn btn-danger">Выйти</a>
</body>
</html>